.badge {
    border-radius:16px;
    position:relative;
    width:128px;
    height:fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    padding:0px 8px 0px 8px;
}

.column {
    width:32px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.badge:hover {
    cursor: pointer;
}
.badge-success {
    background-color: #65ff65;
}

.badge-error {
    background-color: rgb(255, 85, 85);
}

.badge-warning {
    background-color: rgb(255, 255, 112);
}

.badge-content {
    display: flex;
    flex-direction: row;
    align-content: center;
}


.icon {
    height:1rem;
    width: 1rem;
}

.icon-invert {
    filter: contrast(1) invert(1)
}

.icon-contrast{
    filter: contrast(1)
}

.title {
    width:96px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.tooltip-open {
    display: block;
    position:absolute;
    left:calc(64px - 1.5rem);
}

.tooltip-closed {
    display: none;
}